
.e161_517 { 
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:901px;
	position:absolute;
}
.e161_516 { 
	width:424px;
	height:775px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../../assets/image/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_518 { 
	width:94px;
	height:22px;
	position:absolute;
	left:318px;
	top:23px;
}
.ei161_518_31_9 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.i161_518_31_10 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_10 { 
	position:absolute;
	left:11.279999732971191px;
	top:9.166666030883789px;
}
.i161_518_31_11 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_11 { 
	position:absolute;
	left:16.919998168945312px;
	top:3.6666665077209473px;
}
.i161_518_31_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_12 { 
	position:absolute;
	left:5.639999866485596px;
	top:14.666666030883789px;
}
.ei161_518_31_13 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:31.959999084472656px;
	top:0px;
}
.i161_518_31_14 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_14 { 
	width:13.235199928283691px;
	height:2.3355531692504883px;
	position:absolute;
	left:4.700000286102295px;
	top:9.16861343383789px;
}
.i161_518_31_15 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_15 { 
	width:19.890399932861328px;
	height:3.6642377376556396px;
	position:absolute;
	left:1.6114890575408936px;
	top:5.5px;
}
.i161_518_31_16 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_16 { 
	width:6.532999515533447px;
	height:1.0163501501083374px;
	position:absolute;
	left:8.01819896697998px;
	top:13.751151084899902px;
}
.i161_518_31_17 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_17 { 
	width:0.00949271023273468px;
	height:0px;
	position:absolute;
	left:11.279999732971191px;
	top:18.333332061767578px;
}
.ei161_518_31_18 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:71.43999481201172px;
	top:0px;
}
.i161_518_31_19 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_19 { 
	width:16.919998168945312px;
	height:11px;
	position:absolute;
	left:0.9399999976158142px;
	top:5.5px;
}
.i161_518_31_20 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_518_31_20 { 
	position:absolute;
	left:21.619998931884766px;
	top:10.083333969116211px;
}
.e161_641 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:22px;
	position:absolute;
	left:31px;
	top:23px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e161_833 { 
	width:169px;
	height:60px;
	position:absolute;
	left:19px;
	top:804px;
}
.e161_654 { 
	background-color:rgba(0, 0, 0, 1);
	width:169px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_832 { 
	background-color:rgba(0, 0, 0, 1);
	width:169px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_656 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:26px;
	position:absolute;
	left:19px;
	top:14px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_834 { 
	width:169px;
	height:60px;
	position:absolute;
	left:229px;
	top:804px;
}
.e161_657 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:169px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_658 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:29px;
	position:absolute;
	left:16px;
	top:13px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_659 { 
	width:80px;
	height:75px;
	position:absolute;
	left:53px;
	top:350px;
	background-image:url(../../assets/image/image_2.png);
	text-decoration: none;
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_660 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:66px;
	position:absolute;
	left:117px;
	top:361px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_799 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:50px;
	position:absolute;
	left:-9px;
	top:66px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	background-image:url(../../assets/image/_ji_sang.png);
	background-repeat:no-repeat;
	background-size:cover;
}
