.e161_661 { 
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:901px;
	position:absolute;
}
.e161_839 { 
	width:423px;
	height:624px;
	position:absolute;
	left:0px;
	top:143px;
	background-image:url(../../assets/image/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_662 { 
	width:94px;
	height:22px;
	position:absolute;
	left:318px;
	top:23px;
}
.ei161_662_31_9 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.i161_662_31_10 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_10 { 
	position:absolute;
	left:11.279999732971191px;
	top:9.166666030883789px;
}
.i161_662_31_11 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_11 { 
	position:absolute;
	left:16.919998168945312px;
	top:3.6666665077209473px;
}
.i161_662_31_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_12 { 
	position:absolute;
	left:5.639999866485596px;
	top:14.666666030883789px;
}
.ei161_662_31_13 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:31.959999084472656px;
	top:0px;
}
.i161_662_31_14 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_14 { 
	width:13.235199928283691px;
	height:2.3355531692504883px;
	position:absolute;
	left:4.700000286102295px;
	top:9.16861343383789px;
}
.i161_662_31_15 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_15 { 
	width:19.890399932861328px;
	height:3.6642377376556396px;
	position:absolute;
	left:1.6114890575408936px;
	top:5.5px;
}
.i161_662_31_16 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_16 { 
	width:6.532999515533447px;
	height:1.0163501501083374px;
	position:absolute;
	left:8.01819896697998px;
	top:13.751151084899902px;
}
.i161_662_31_17 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_17 { 
	width:0.00949271023273468px;
	height:0px;
	position:absolute;
	left:11.279999732971191px;
	top:18.333332061767578px;
}
.ei161_662_31_18 { 
	width:22.559999465942383px;
	height:22px;
	position:absolute;
	left:71.43999481201172px;
	top:0px;
}
.i161_662_31_19 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_19 { 
	width:16.919998168945312px;
	height:11px;
	position:absolute;
	left:0.9399999976158142px;
	top:5.5px;
}
.i161_662_31_20 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.ei161_662_31_20 { 
	position:absolute;
	left:21.619998931884766px;
	top:10.083333969116211px;
}
.e161_663 { 
	background-color:rgba(208.0799961090088, 210.96999943256378, 216.75000607967377, 0.8999999761581421);
	width:424px;
	height:291px;
	position:absolute;
	left:0px;
	top:610px;
}
.e161_664 { 
	width:375px;
	height:34px;
	position:absolute;
	left:0px;
	top:867px;
}
.e161_665 { 
	background-color:rgba(0, 0, 0, 1);
	width:135px;
	height:5px;
	position:absolute;
	left:120px;
	top:21px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e161_666 { 
	width:424px;
	height:291px;
	position:absolute;
	left:0px;
	top:610px;
}
.e161_667 { 
	width:16.959999084472656px;
	height:27.55681800842285px;
	position:absolute;
	left:370.8586730957031px;
	top:263.44317626953125px;
}
.e161_668 { 
	background-color:rgba(80.00000283122063, 85.0000025331974, 92.00000211596489, 1);
	width:16.959999084472656px;
	height:27.55681800842285px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_669 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:16.959999084472656px;
	height:15.799242973327637px;
	position:absolute;
	left:0px;
	top:11.757575988769531px;
}
.e161_670 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:16.959999084472656px;
	height:11.390151023864746px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_671 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:1.8844443559646606px;
	height:6.246212005615234px;
	position:absolute;
	left:7.537777423858643px;
	top:9.553030967712402px;
}
.e161_672 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:10.929777145385742px;
	height:1.8371211290359497px;
	position:absolute;
	left:3.015110969543457px;
	top:13.962121963500977px;
	border-top-left-radius:1.6666666269302368px;
	border-top-right-radius:1.6666666269302368px;
	border-bottom-left-radius:1.6666666269302368px;
	border-bottom-right-radius:1.6666666269302368px;
}
.e161_673 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:6.407110691070557px;
	height:16.16666603088379px;
	position:absolute;
	left:5.276443958282471px;
	top:1.8371211290359497px;
}
.e161_674 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:10.175999641418457px;
	height:19.84090805053711px;
	position:absolute;
	left:3.3919997215270996px;
	top:0px;
}
.e161_675 { 
	width:29.3973331451416px;
	height:28.659090042114258px;
	position:absolute;
	left:29.3973331451416px;
	top:261.2386474609375px;
}
.e161_676 { 
	background-color:rgba(80.00000283122063, 85.0000025331974, 92.00000211596489, 1);
	width:29.3973331451416px;
	height:28.659090042114258px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_677 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:29.3973331451416px;
	height:28.659090042114258px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_678 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:25.972543716430664px;
	height:25.3203067779541px;
	position:absolute;
	left:1.7109248638153076px;
	top:1.6693918704986572px;
}
.e161_679 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.4343557357788086px;
	height:3.3328115940093994px;
	position:absolute;
	left:8.331565856933594px;
	top:8.11398696899414px;
}
.e161_680 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:20.358932495117188px;
	height:8.82165241241455px;
	position:absolute;
	left:4.5065131187438965px;
	top:15.766716003417969px;
}
.e161_681 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:16.23581886291504px;
	height:3.3068180084228516px;
	position:absolute;
	left:6.603400707244873px;
	top:17.274276733398438px;
}
.e161_682 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:3.435080051422119px;
	height:3.3576605319976807px;
	position:absolute;
	left:17.640419006347656px;
	top:8.113987922668457px;
}
.e161_683 { 
	width:98.36799621582031px;
	height:46.29545593261719px;
	position:absolute;
	left:322.239990234375px;
	top:187.38636779785156px;
}
.e161_684 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(172.00000494718552, 179.000004529953, 191.00000381469727, 1);
	width:98.36799621582031px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_685 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:19px;
	position:absolute;
	left:27px;
	top:13px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0.6000000238418579;
}
.e161_686 { 
	width:206.91200256347656px;
	height:46.29545593261719px;
	position:absolute;
	left:108.54399871826172px;
	top:187.38636779785156px;
}
.e161_687 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:206.91200256347656px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_688 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:19px;
	position:absolute;
	left:82px;
	top:13px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0.6000000238418579;
}
.e161_689 { 
	width:424px;
	height:233.68182373046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_690 { 
	width:417.21600341796875px;
	height:224.8636474609375px;
	position:absolute;
	left:3.3919999599456787px;
	top:8.818181991577148px;
}
.e161_691 { 
	width:98.36799621582031px;
	height:46.29545593261719px;
	position:absolute;
	left:4.005432074905002e-8px;
	top:178.5681915283203px;
}
.e161_692 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(172.00000494718552, 179.000004529953, 191.00000381469727, 1);
	width:98.36799621582031px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_693 { 
	color:rgba(0, 0, 0, 1);
	width:30.527997970581055px;
	height:19px;
	position:absolute;
	left:35.05066680908203px;
	top:14px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0.6000000238418579;
}
.e161_694 { 
	width:47.487998962402344px;
	height:46.29545593261719px;
	position:absolute;
	left:369.7279968261719px;
	top:119.04545593261719px;
}
.e161_695 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(172.00000494718552, 179.000004529953, 191.00000381469727, 1);
	width:47.487998962402344px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_696 { 
	width:25.978153228759766px;
	height:18.738636016845703px;
	position:absolute;
	left:11.306666374206543px;
	top:14.329545974731445px;
}
.e161_697 { 
	width:25.978153228759766px;
	height:18.738636016845703px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_698 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.059305191040039px;
	height:7.856916427612305px;
	position:absolute;
	left:11.835620880126953px;
	top:5.622730255126953px;
}
.e161_699 { 
	transform: rotate(-44.27147246912366deg);
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:1.5106399059295654px;
	height:10.629651069641113px;
	position:absolute;
	left:-0.316817045211792px;
	top:0.7456552386283875px;
	border-radius:1.3529411554336548px;
}
.e161_700 { 
	transform: rotate(-135.72852753087633deg);
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:1.5106399059295654px;
	height:10.629651069641113px;
	position:absolute;
	left:8.376121520996094px;
	top:0.7456552386283875px;
	border-radius:1.3529411554336548px;
}
.e161_701 { 
	width:47.487998962402344px;
	height:46.29545593261719px;
	position:absolute;
	left:4.005432074905002e-8px;
	top:119.04545593261719px;
}
.e161_702 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(172.00000494718552, 179.000004529953, 191.00000381469727, 1);
	width:47.487998962402344px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_703 { 
	width:22.489151000976562px;
	height:19.04610252380371px;
	position:absolute;
	left:12.678766250610352px;
	top:13.530224800109863px;
}
.e161_704 { 
	width:22.489151000976562px;
	height:19.04610252380371px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_705 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:10.929778099060059px;
	height:8.083333969116211px;
	position:absolute;
	left:5.779687881469727px;
	top:10.962767601013184px;
}
.e161_706 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:25.251556396484375px;
	height:12.859848976135254px;
	position:absolute;
	left:-1.3812010288238525px;
	top:-0.4273837208747864px;
	border-radius:1px;
}
.e161_707 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:318.8479919433594px;
	top:119.04545593261719px;
}
.e161_708 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_709 { 
	color:rgba(0, 0, 0, 1);
	width:22.613332748413086px;
	height:30px;
	position:absolute;
	left:6.783999919891357px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_710 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:275.8826599121094px;
	top:119.04545593261719px;
}
.e161_711 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_712 { 
	color:rgba(0, 0, 0, 1);
	width:14.6986665725708px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_713 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:234.04800415039062px;
	top:119.04545593261719px;
}
.e161_714 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_715 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_716 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:191.08267211914062px;
	top:119.04545593261719px;
}
.e161_717 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_718 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_719 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:148.11734008789062px;
	top:119.04545593261719px;
}
.e161_720 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_721 { 
	color:rgba(0, 0, 0, 1);
	width:14.6986665725708px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_722 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:106.28266906738281px;
	top:119.04545593261719px;
}
.e161_723 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_724 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_725 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:63.31733322143555px;
	top:119.04545593261719px;
}
.e161_726 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_727 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_728 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:360.68267822265625px;
	top:59.522727966308594px;
}
.e161_729 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_730 { 
	color:rgba(0, 0, 0, 1);
	width:5.6533331871032715px;
	height:30px;
	position:absolute;
	left:15.829333305358887px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_731 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:317.71734619140625px;
	top:59.522727966308594px;
}
.e161_732 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_733 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_734 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:275.8826599121094px;
	top:59.522727966308594px;
}
.e161_735 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_736 { 
	color:rgba(0, 0, 0, 1);
	width:5.6533331871032715px;
	height:30px;
	position:absolute;
	left:15.829333305358887px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_737 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:232.91732788085938px;
	top:59.522727966308594px;
}
.e161_738 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_739 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_740 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:191.08267211914062px;
	top:59.522727966308594px;
}
.e161_741 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_742 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_743 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:148.11734008789062px;
	top:59.522727966308594px;
}
.e161_744 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_745 { 
	color:rgba(0, 0, 0, 1);
	width:9.045332908630371px;
	height:30px;
	position:absolute;
	left:13.567999839782715px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_746 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:106.28266906738281px;
	top:59.522727966308594px;
}
.e161_747 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_748 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_749 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:63.31733322143555px;
	top:59.522727966308594px;
}
.e161_750 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_751 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_752 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:21.482666015625px;
	top:59.522727966308594px;
}
.e161_753 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_754 { 
	color:rgba(0, 0, 0, 1);
	width:14.6986665725708px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_755 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:382.16534423828125px;
	top:-3.2388939530392236e-7px;
}
.e161_756 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_757 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_758 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:339.20001220703125px;
	top:-3.2388939530392236e-7px;
}
.e161_759 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_760 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_761 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:297.3653259277344px;
	top:-3.2388939530392236e-7px;
}
.e161_762 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_763 { 
	color:rgba(0, 0, 0, 1);
	width:5.6533331871032715px;
	height:30px;
	position:absolute;
	left:15.829333305358887px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_764 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:254.39999389648438px;
	top:-3.2388939530392236e-7px;
}
.e161_765 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_766 { 
	color:rgba(0, 0, 0, 1);
	width:14.6986665725708px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_767 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:212.56533813476562px;
	top:-3.2388939530392236e-7px;
}
.e161_768 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_769 { 
	color:rgba(0, 0, 0, 1);
	width:13.567999839782715px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_770 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:169.60000610351562px;
	top:-3.2388939530392236e-7px;
}
.e161_771 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_772 { 
	color:rgba(0, 0, 0, 1);
	width:9.045332908630371px;
	height:30px;
	position:absolute;
	left:13.567999839782715px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_773 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:127.76533508300781px;
	top:-3.2388939530392236e-7px;
}
.e161_774 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_775 { 
	color:rgba(0, 0, 0, 1);
	width:9.045332908630371px;
	height:30px;
	position:absolute;
	left:13.567999839782715px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_776 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:84.80000305175781px;
	top:-3.2388939530392236e-7px;
}
.e161_777 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_778 { 
	color:rgba(0, 0, 0, 1);
	width:14.6986665725708px;
	height:30px;
	position:absolute;
	left:11.306666374206543px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_779 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:42.96533203125px;
	top:-3.2388939530392236e-7px;
}
.e161_780 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_781 { 
	color:rgba(0, 0, 0, 1);
	width:20.351999282836914px;
	height:30px;
	position:absolute;
	left:7.914666652679443px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_782 { 
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_783 { 
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:35.05066680908203px;
	height:46.29545593261719px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e161_784 { 
	color:rgba(0, 0, 0, 1);
	width:15.829333305358887px;
	height:30px;
	position:absolute;
	left:10.175999641418457px;
	top:5px;
	font-family:SF Pro Display;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e161_785 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:28px;
	position:absolute;
	left:31px;
	top:20px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e161_821 { 
	color:rgba(0, 0, 0, 1);
	width:239px;
	height:50px;
	position:absolute;
	left:5px;
	top:93px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	background-repeat:no-repeat;
	background-size:cover;
}
.e161_824 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:335px;
	height:73px;
	position:absolute;
	left:44px;
	top:212px;
}
.e161_991 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:335px;
	height:73px;
	position:absolute;
	left:44px;
	top:348px;
}
.e161_826 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:37px;
	position:absolute;
	left:32px;
	top:232px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e161_827 { 
	color:rgba(0, 0, 0, 1);
	width:264px;
	height:37px;
	position:absolute;
	left:28px;
	top:370px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e161_841 { 
	width:169px;
	height:60px;
	position:absolute;
	left:129px;
	top:499px;
}
.e161_842 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:169px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e161_843 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:29px;
	position:absolute;
	left:16px;
	top:13px;
	font-family:IBM Plex Mono;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	background-repeat:no-repeat;
	background-size:cover;
}
